<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>
                Account Login
            </h1>
        </div>
        <div class="form-content">
            <form>
                <div class="form-group">
                    <label for="username">Username</label><input id="username" name="username" required="" type="text"
                        fdprocessedid="d965dx">
                </div>
                <div class="form-group">
                    <label for="password">Password</label><input id="password" name="password" required=""
                        type="password" fdprocessedid="h4b02i">
                </div>
                <div class="form-group">
                    <label class="form-remember"><input type="checkbox">Remember Me</label><a class="form-recovery"
                        href="#">Forgot Password?</a>
                </div>
                <div class="form-group">
                    <button type="submit" fdprocessedid="9ukifq">Log In</button>
                </div>
            </form>
        </div>
    </div>
    <div class="form-panel two">
        <div class="form-header">
            <h1>
                Register Account
            </h1>
        </div>
        <div class="form-content">
            <form>
                <div class="form-group">
                    <label for="username">Username</label><input id="username" name="username" required="" type="text"
                        fdprocessedid="2hokj">
                </div>
                <div class="form-group">
                    <label for="password">Password</label><input id="password" name="password" required=""
                        type="password" fdprocessedid="bhnws">
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password</label><input id="cpassword" name="cpassword" required=""
                        type="password" fdprocessedid="bf88q4e">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label><input id="email" name="email" required="" type="email"
                        fdprocessedid="zau41">
                </div>
                <div class="form-group">
                    <button type="submit" fdprocessedid="ox848x">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>